section:first-of-type{
  display: flex;
  flex-direction: column;
  }

  
h1 {
  font-size: 6vw;
  color: var(--main-color);
  text-align: center;
  margin: 140px 100px 25px 80px;
  position: relative;
  }

video {
  position: absolute;
  margin-top: 115px;
  overflow: hidden;
  height: 250px;
}

.groteButton:first-of-type{
  position: relative;
  left: -10px;
  top: -20px;
  padding: 0.5em;
}




    
section:nth-of-type(2){
  background-color: var(--background-color2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -40px;
  }

section:nth-of-type(2) p, section:nth-of-type(2) h2{
  color: var(--background-color3);
  }

.drieFlessen{
  max-width: 22em;
  max-height: auto;
  padding: 2em;
  margin-left: 1.2em;
}







section:nth-of-type(3){
  background-color: var(--background-color3);
  display: flex;
  flex-direction: column;
  padding: 30px;
  }

.klaarVoorDeStart {
  color: var(--background-color3);
  }

 


 




section:nth-of-type(4){
  background-color: var(--background-color2a);
  display: flex;
  flex-direction: column;
  padding: 30px;
  }
  
  
.img4 {
  max-width: 22em;
  max-height: auto;
  }








section:nth-of-type(5){
  background-color: var(--background-color2);
  display: flex;
  flex-direction: column;
  padding: 30px;
  left: -30px;
  position: relative;
  overflow: hidden;
  }





section:nth-of-type(6){
  background-color: var(--background-color2);
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: relative;
  right: -20px;
  bottom: 20px;
  overflow: hidden;
  }

section:nth-of-type(6) a{
  color: var(--main-color);
  }

  section:nth-of-type(6) h2{
    color: var(--main-color);
    padding-left: 30px;
  }




section:nth-of-type(7){
  background-color: var(--background-color1);
  display: flex;
  flex-direction: column;
  padding: 30px;
  right: -20px;
  bottom: 20px;
  }

section:nth-of-type(7) p, section:nth-of-type(7) h1, section:nth-of-type(7) h4, section:nth-of-type(7) h3 {
  color: var(--background-color3);
}



section:nth-of-type(7) p{
  margin-bottom: 20px;
  margin-left: -25px;
  }

section:nth-of-type(7) h4{
  margin-bottom: -20px;
  margin-top: 10px;
  margin-left: -25px;
  }








section:nth-of-type(8){
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  padding: 30px;
  }

  /*section:nth-of-type(9) a:link {
    color:var(--main-color);
  }
  
  section:nth-of-type(9) a:visited {
    color:var(--background-color2a);
  }
  
  section:nth-of-type(9) a:hover {
    color: var(--background-color3);
  }
  
  section:nth-of-type(9) a:active {
    color:var(--background-color2);
  } 

  section:nth-of-type(9) h1{
    color: var(--background-color3)
  }

  section:nth-of-type(9) p{
    color: var(--background-color3)
  }

  section:nth-of-type(9) a{
    color: var(--background-color3)
  }

  section:nth-of-type(9) h3{
    color: var(--background-color3)
  }

  section:nth-of-type(9) h4{
    color: var(--background-color3)
  }*/


.shopNu {
    padding-left: 35px;
}
  
  
  .filmpje{
    max-width: 30em;
    max-height: auto;
  }