/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
  margin: 0;
  padding: 0;
  background-color: red;
}

img {
  transition: transform .2s;
}

img:hover{
    transform: scale(1.1);
}

body {
  font-family: 'Be Vietnam Pro' ;
}

:root {
  --main-color: white;
  --background-color1:#f4fdff;
  --background-color2:#9ad7dc;
  --background-color2a:#aedede;
  --background-color3:#2a4078;
  --geleKleur: #ffeb81; 
}

button {
  color: black;
  background-color: var(--geleKleur);
  border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  border: none;
  margin: 0 auto 2em;
  padding: 1em;
}

.groteButton{
  border-radius: 24px;
}

button p {
  color: black;
  padding: 0 5px 0 5px;
}

p {
  color: var(--background-color3);
  font-size: 4vw;
  color: var(--main-color);
  padding: 0em 2em 2em;
}


h4 {
  font-size: 6vw;
  color: var(--main-color);
  padding: 0em 1.5em;
}

h6 {
  font-size: 4vw;
  color: var(--main-color);
  padding: 0 2em;
  margin: 0;
}

h3 {
  font-size: 5vw;
  color: var(--main-color);
  padding: 0em 2em;

}






header {
  background-color: var(--background-color3);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo{
  height: 2em;
  width: auto;
  margin: 2em;
}

.menuIcoon {
  background-color: var(--geleKleur);
  border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  border: none;
  margin: 2em 0.5em 2em 0em;
  padding: 1.5em;
}












  footer h1 {
    color: var(--background-color3);
  }
  
  form {
    display: flex;
    justify-content: center;
  }

  form input{
    border: solid 2px var(--background-color3);
    border-radius: 5px;
    padding: 0.5em;
  }

  ::placeholder {
    color: var(--background-color3);
    opacity: 1;
  }

  .submitKnop {
    background-color: var(--background-color3);
    color: var(--background-color1);
    margin-left: 0.5em;
  }








  .menu {
    background-color:var(--background-color3);
    border: solid 8px;
    border-color:var(--geleKleur);


    position:absolute;
    height: 30em;
    left:0;
    top:0;
    bottom:0;
    width:calc(100% - 3em);
    max-width:25em;
    transform:translateX(-100%);
    
    transition:.5s;
  }


 body form:first-of-type a {
    text-decoration: none;
    color:var(--background-color1);
    padding: 10px;
  }

  ul {
    padding: 2em;
    list-style-type: none;
    font-size: 2em;
  }

  li {
    padding: 10px;
  }


  
  .menu.menuOpen {
    transform:translateX(0%);
  }

  