/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  html, body {
    margin: 0;
    padding: 0;
    background-color: red;
  }
  
  body {
    font-family: 'Be Vietnam Pro' ;
  }

  :root {
    --main-color: white;
    --background-color1:#f4fdff;
    --background-color2:#9ad7dc;
    --background-color2a:#aedede;
    --background-color3:#2a4078;
    --geleKleur: #ffeb81; 
  }

  button {
    color: black;
    background-color: var(--geleKleur);
    border-radius: 50px;
    border: none;
    margin: 0 auto 2em;
  }
  
  button p {
    color: black;
    padding: 0 5px 0 5px;
  }







  section:nth-of-type(1){
    background-color: var(--geleKleur);
    display: flex;
    flex-direction: column;
    padding: 30px;
    }
    
    
  .img4 {
    max-width: 22em;
    max-height: auto;
    }
  
  
  
  
  
  
  
  
  section:nth-of-type(2){
    background-color: var(--background-color2);
    display: flex;
    flex-direction: column;
    padding: 30px;
    left: -30px;
    position: relative;
    overflow: hidden;
    }


    section:nth-of-type(3) ul {
      position:relative;
      
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items:center;
      padding:1em;
      
      background-color:var(--background-highlight-color); 
      border-radius:3rem;
      
      text-align:center;
    }